/Aufgabenblatt 3/ooadAufgabeMultiSet/dist/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspiel/ooadAufgabeSchlechtesKartenspiel/build/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspiel/ooadAufgabeSchlechtesKartenspiel/nbproject/private/
/ooadAufgabeSchlechtesKartenspiel/build/
/ooadAufgabeSchlechtesKartenspiel/nbproject/private/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspiel/build/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspiel/nbproject/private/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspielMethoden/nbproject/private/
/Aufgabenblatt 4/ooadAufgabeSchlechtesKartenspiel/dist/
/Aufgabenblatt 7/ooadAufgabeAktienverwaltung/dist/
/Aufgabenblatt7/ooadAufgabeAktienverwaltung/build/
/Aufgabenblatt7/ooadAufgabeAktienverwaltung/dist/
/Aufgabenblatt7/ooadAufgabeAktienverwaltung/nbproject/private/